CSS CODE:
* {
  margin:0;
  padding:0;
  font-family: 'sans-serif', Segoe UI;
}

body {
  line-height: 1.4;
  background-color: #f7f7f7;
  color: #333;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #2C3E50;
}

.logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(to right, #134e5e, #71b280);
  color: #fff;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 30px;
}

.buton {
  background-color: #fff;
  color: #2C3E50;
  padding: 12px 24px;
  border-radius: 20px;
  text-decoration:none;
  font-weight: bold;
}

/* Features */
.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 20px;
  background-color: #fff;
}

.feature {
  flex: 1;
  max-width: 300px;
  margin: 20px;
  text-align: center;
}

.feature h2 {
  color: #2C3E50;
  margin-bottom: 10px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #2C3E50;
  color: #fff;
}